:root {
    --Web: #4d5ae5;
    --Studio: #2e2f42;
    }

body {
    font-family: 'Raleway', sans-serif;
}

.webstudio {
    font-weight:800;
    text-transform: none;
    font-size: 18px;
    line-height: 1.17; letter-spacing: 0.03em; 
}

.Studio {
color: var(--Studio)
}