:root {
    --web: #4d5ae5;
    --studio: #2e2f42;
    --studiolist: #6569c0;
    --add: #434455;
    --bodybc: #FFFFFF;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: var(--bodybc);
}

/*HEADER*/
.liststyle {
    list-style: none;
}

/*WebStudio Logo*/
.webstudio {
    font-family: Roboto, sans-serif;
    font-weight:800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--web);
}



.headerstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--studio);
}

.studiocolor:hover {
        color: #404bbf;
}

.studiocolor:focus {
        color: #404bbf;
}

/*Address*/
.address {
    font-style: normal;
    color: var(--add);
}

/*Section 1*/
.hero {
    background-color: var(--studio);
}

.hone {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.herobutton {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

background color: hover : #404BBF

button:focus : #404BBF

cursor property: pointer

/*Section 2*/
.headersectwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--studio);
}

.parsectwo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--add);

}


/*Section 3*/
.thirdsecheader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--studio);
}

/*Section 4*/

.fourthsection {
    background-color: #F4F4FD;
}

    .fourthul {
        background-color: #FFFFFF;
    }

    .hthree {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--studio);
    }



/*Sections*/

/*1st Section*/

/*Hero*/
.hero [
background-color: var(--studio);
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;

/*Hero Button*/






